.DS_Store
**/.DS_Store
.env
**/.env
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
.obsidian/
**/.obsidian/
vector_db/
**/vector_db/
*.egg-info/
**/*.egg-info/
.ipynb_checkpoints/
